<div class="page" data-name="notifs">

	<div class="navbar " style="background-color: #6c5ce7">
	    <div class="navbar-inner ">
	        
	        <div class="title text-align-center">
	        	<p class="text-align-center">Notificacoes</p>
	        </div>

	    </div>
	</div>
    

	<div class="page-content ptr-content">
		 <div class="ptr-preloader">
		    <div class="preloader"></div>
		    <div class="ptr-arrow"></div>
		  </div>
		 
		<!-- Profile -->
		<div id="notifs" class="padding">

			<div class="list">
			  <ul>
			    
			    <li class="swipeout" style="border-radius: 15px">
			      <!-- Usual list element wrapped with "swipeout-content" -->
			      <div class="swipeout-content">
			        <!-- Your list element here -->
			        <div class="item-content" style="background-color: #dfe6e9; padding: 5%">
			         
			          <div class="item-inner">Test 1</div>
			        </div>
			      </div>
			      <!-- Swipeout actions right -->
			      <div class="swipeout-actions-right">
			        <!-- Swipeout actions links/buttons -->
			        <a href="#" class="swipeout-close">Ver</a>
			        <a href="#" class="swipeout-delete">Deletar</a>
			      </div>
			    </li>
			   
			  </ul>
			</div>
			
		</div>

		

		<div class="fab fab-left-bottom " style="position: fixed;">
    
		    <a href="#" onclick="mainView.router.back();" style="background-color: #6c5ce7">
		    	<i class="icon f7-icons">arrow_left</i>
		    	
		    </a>
		 
		    
		</div>	

		
	</div>
</div>