<div class="page" data-name="replies" >

	<div class="navbar " style="background-color: #6c5ce7">
	    <div class="navbar-inner ">
	        
	        <div class="title text-align-center">
	        	<p class="text-align-center">Comentários</p>
	        </div>
	    </div>
	</div>
    

	<div class="page-content" >
		

		<!-- replies -->
		<div id="replies" style="overflow-x: hidden; " data-idQuote="">
			<div class="padding replies-place">

			</div>

		</div>

		<div id="writeLine-comment" class="item-input" style="z-index: 1">
			
			<div id="inputLine-comment" >
				<textarea id="quoteWrite-comment" placeholder="Vamos conversar? 😁" ></textarea>
				<!-- <div data-emoji-placeholder=":smiley:" id="emoji-button"></div> -->
				
				<a href="#" id="send-button-comment" class="button"><i class="icon f7-icons">paper_plane</i></a>
				<div class="emj-picker-comment">
					<a href="#" id="emoji-button-comment" >😄</a>
					
				</div>
			</div>
		</div>
		<div class="fab fab-left-bottom " style="position: fixed;">
    
		    <a href="#" class="back" style="background-color: #6c5ce7">
		    	<i class="icon f7-icons">arrow_left</i>
		    	
		    </a>
		    <!-- FAB speed dial actions with labels -->
		    
		 </div>	

		  
		<div class="fab fab-extended fab-right-bottom " style="position: fixed;">
		    <a href="#" onclick="writeQuoteComment()" style="background-color: #6c5ce7">
		      <i class="icon f7-icons md-only">chat</i>
		      <div class="fab-text" >Comentar</div>
		    </a>
		</div>
	</div>
</div>