#canvas-basic {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.page-content {

    overflow-x: hidden;
}

.spacement {

	
	border: 30px solid transparent;

}

#particle-js {
	position: absolute;
    width: 100%;
    height: 100%;
    background: #00356B;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.searchbar:hover {

    opacity: 1;
    transition: 0.3s;
}

.searchbar {

    opacity: 0.7;
    transition: 0.3s;
}
.grad-nav {

    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(122,81,250,1) 0%, rgba(129,75,255,1) 28%, rgba(28,163,190,0.1825105042016807) 100%);

}


.profile-test {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: #eee;
}

.sent-bubble {

    display: block;
    width: 90%;
    background: #a29bfe;
    padding: 1%;
    text-align: center;
    font-weight: 900;
    color: #fff;
    font-family: arial;
    position: relative;
    order: -1;
    border-radius: 5px;

}


.sent-bubble:before {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #a29bfe;
    border-right: 10px solid transparent;
    border-top: 10px solid #a29bfe;
    border-bottom: 10px solid transparent;
    right: -4%;
    top: 0%;
}

.sent-bubble .sent-text {
    text-align: justify;
}
.received-bubble {
    display: block;
    width: 90%;
    background: #74b9ff;
    padding: 1%;
    text-align: center;
    font-weight: 900;
    color: #fff;
    font-family: arial;
    position: relative;
    order: 1;
    border-radius: 5px;


}

.received-bubble:before {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #74b9ff;
    border-top: 10px solid #74b9ff;
    border-bottom: 10px solid transparent;
    left: -4%;
    top: 0%;

}

.received-bubble .sent-text {
    text-align: justify;
}

.dateTimeUserSent {

    font-weight: 4px;
    float: right;
}

.dateTimeUserRcv{

    font-weight: 4px;
    float: left;
}

#writeLine {
    display: none;
    border-radius: 30%;
    position: fixed;
    bottom: 20%;
    opacity: 0;
}

#writeLine-comment {
    display: none;
    border-radius: 30%;
    position: fixed;
    bottom: 20%;
    opacity: 0;
}

#inputLine {
    background-color: #e0e0e0;
    width: 70%;
    position: fixed;
    left: 15% !important;
    border-radius: 15px;
    top: 77%;
    z-index: 1;
}

#inputLine-comment {
    background-color: #e0e0e0;
    width: 70%;
    position: fixed;
    left: 26%;
    border-radius: 15px;
    top: 77%;
    z-index: 1;
}
#inputLine input{
    color: #000;
}

#inputLine-comment input{
    color: #000;
}

#quoteWrite {

    padding: 5%;
    color: #000;
    padding-bottom: 20%;
}

#quoteWrite-comment {

    padding: 5%;
    color: #000;
    padding-bottom: 20%;
}

#emoji-button {

    position: absolute;
    right: 0;
    top: 20%;
    font-size: 20px;
    padding-right: 5%;

}


#emoji-button-comment {

    position: absolute;
    right: 0;
    top: 20%;
    font-size: 20px;
    padding-right: 5%;

}

#send-button {
    position: absolute;
    right: 9%;
    top: 15%;
    font-size: 20px;
    padding-right: 5%;
}

#send-button-comment {
    position: absolute;
    right: 15%;
    top: 15%;
    font-size: 20px;
    padding-right: 5%;
}


.emoji-picker {
    display: none;
    padding: 5%;
    position: fixed;
    background: #e5e5e5;
    border-radius: .4em;
    right: 13%;
    bottom: 23%;
    opacity: 0;
    overflow-x: scroll;
}

.emoji-picker:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #e5e5e5;
    border-bottom: 0;
    margin-left: -20px;
    margin-bottom: -20px;
}

.loader {
    display: none;
}

.twemoji-textarea {

    display: none;

}

.emj-picker {
    position: fixed;
    left: 82%;
    top: 79.5%;

}


.emj-picker-comment {
    position: fixed;
    left: 93%;
    top: 79.5%;

}

.profile-avatar {

    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
    left: 24%;
    margin-top: 10%;
    background-color: #555;
    box-shadow: 13px 16px 0px 0px rgba(6, 1, 1, 0.48);
}

.profile-username {
    font-size: 30px;
    text-align: center;
}

.bg {
    width: 100%;

    background-color: rgba(6, 6, 144, 0.71);
}